{% extends './basic.html' %}
{% block title%}Employee Management{% endblock %}

{% load static%}
{%block body%}
<main class="container mt-4">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-secondary">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Manage your Employees on the Go!!</h1>
      <p class="lead my-3">Hello, I am Om Jaiswal. I am Full Stack Developer passionate for programming, Craeting my own simplified solutions for Tech problems.</p>
      <p class="lead mb-0"><a href="https://www.linkedin.com/in/iomjaiswal/" class="text-white fw-bold">More about me...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Django Project</strong>
          <h3 class="mb-0">Spammer</h3>
          <div class="mb-1 text-muted">Nov 12 2022</div>
          <p class="card-text mb-auto">Can send mutiple messages to any GUI!!</p>
          <a href="https://github.com/iOMJaiswal/Spammers" class="stretched-link">Get Project..</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">View Project</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Django Project</strong>
          <h3 class="mb-0">Text Utils</h3>
          <div class="mb-1 text-muted">Oct 26 2022</div>
          <p class="mb-auto">Remove punctuations and Edit your paragraph here!</p>
          <a href="https://github.com/iOMJaiswal/TextUtilsDjango" class="stretched-link">Get Project..</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">View Project</text></svg>
        </div>
      </div>
    </div>
  </div>

</main>


{%endblock%}